In [1]:
import numpy as np

In [42]:
import pandas as pd
data=pd.read_csv('survey_results_public.csv')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [129]:
data.head(3)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,python
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,True
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,True
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult,False

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [4]:
data.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [41]:
data.describe()

,Respondent,Age1stCode,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,15.192860,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,5.471802,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,12.000000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,15.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,18.000000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,86.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

## a. Find the average age of developers when they wrote their first line of code.

In [23]:
data['Age1stCode'].fillna(0,inplace=True)

In [28]:
data['Age1stCode'].astype('int64')

0        10
1        17
2        22
3        16
4        14
         ..
88878     0
88879     0
88880     0
88881     0
88882    11
Name: Age1stCode, Length: 88883, dtype: int64

In [26]:
data['Age1stCode'].replace({'Younger than 5 years': 4, 'Older than 85': 86},inplace=True)

In [38]:
data['Age1stCode']=pd.to_numeric(data['Age1stCode'], errors='coerce')

In [39]:
data['Age1stCode'].unique()

array([10, 17, 22, 16, 14, 15, 11, 20, 13, 18, 12, 19, 21,  8, 35,  6,  9,
       29,  7,  5, 23, 30,  0, 27, 24,  4, 33, 25, 26, 39, 36, 38, 28, 31,
       86, 32, 37, 50, 65, 42, 34, 40, 67, 43, 44, 60, 46, 45, 49, 51, 41,
       55, 83, 48, 53, 54, 47, 56, 79, 61, 68, 77, 66, 52, 80, 62, 84, 57,
       58, 63], dtype=int64)

In [40]:
data['Age1stCode'].mean()

15.19286027699335

## b. Deduce the percentage of developers who know python in each country.

In [44]:
data.LanguageWorkedWith.unique()

array(['HTML/CSS;Java;JavaScript;Python', 'C++;HTML/CSS;Python',
       'HTML/CSS', ..., 'Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):',
       'Assembly;C++;HTML/CSS;VBA',
       'Assembly;Bash/Shell/PowerShell;C;C#;HTML/CSS;Java;JavaScript;PHP;SQL;Other(s):'],
      dtype=object)

In [113]:
data1 = data.copy()

In [114]:
data1 = data1.groupby('Country')

In [112]:
data['python'] = pd.Series(data.LanguageWorkedWith).str.contains(pat = 'Python')

In [115]:
data1.python.value_counts()

Country      python
Afghanistan  False     31
             True       8
Albania      False     60
             True      23
Algeria      False     86
                       ..
Yemen        True       3
Zambia       False      8
             True       4
Zimbabwe     False     25
             True      14
Name: python, Length: 335, dtype: int64

In [116]:
data1.python.count()

Country
Afghanistan                              39
Albania                                  83
Algeria                                 126
Andorra                                   7
Angola                                    4
                                       ...
Venezuela, Bolivarian Republic of...     87
Viet Nam                                220
Yemen                                    17
Zambia                                   12
Zimbabwe                                 39
Name: python, Length: 179, dtype: int64

In [117]:
result = pd.DataFrame(((data1['python'].value_counts())*100)/data1.python.count())

In [120]:
result

                       python
Country     python
Afghanistan False   79.487179
            True    20.512821
Albania     False   72.289157
            True    27.710843
Algeria     False   68.253968
...                       ...
Yemen       True    17.647059
Zambia      False   66.666667
            True    33.333333
Zimbabwe    False   64.102564
            True    35.897436

[335 rows x 1 columns]

## c. Generate a report for the average salary of developer based on country(since continent column is not given).

In [121]:
data.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase',
       'Python_yes_no', 'lang', 'python'],
      dtype='object')

In [127]:
data.drop(['Python_yes_no', 'lang'],axis=1,inplace=True)

In [161]:
data_c = data.copy()

In [162]:
data_c = data_c.groupby('Country')

In [164]:
avg_salary = pd.DataFrame(data_c.ConvertedComp.mean())

In [169]:
avg_salary = avg_salary.rename({'ConvertedComp':'avgerage_salary'},axis=1)

In [170]:
avg_salary

                                      avgerage_salary
Country
Afghanistan                             101953.333333
Albania                                  21833.700000
Algeria                                  34924.047619
Andorra                                 160931.000000
Angola                                    7764.000000
...                                               ...
Venezuela, Bolivarian Republic of...     14581.627907
Viet Nam                                 17233.436782
Yemen                                    16909.166667
Zambia                                   10075.375000
Zimbabwe                                 34046.666667

[179 rows x 1 columns]

## d. Based on this survey, what will be the most desired programming language for the year 2020?

In [130]:
data.LanguageDesireNextYear.unique()

array(['C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL',
       'C++;HTML/CSS;JavaScript;SQL', 'Elixir;HTML/CSS', ...,
       'Bash/Shell/PowerShell;C;Go;HTML/CSS;JavaScript;WebAssembly',
       'C++;HTML/CSS;JavaScript;SQL;WebAssembly;Other(s):',
       'C;C++;C#;HTML/CSS;Java;Objective-C;SQL;Swift'], dtype=object)

## e. What is the distribution of people who code as a hobby based on gender and country?

In [171]:
data_e = data.groupby(['Country','Gender'])

In [176]:
data_e.Hobbyist.value_counts()*100/data_e.Hobbyist.count()

Country      Gender                                                       Hobbyist
Afghanistan  Man                                                          Yes          73.076923
                                                                          No           26.923077
             Non-binary, genderqueer, or gender non-conforming            Yes         100.000000
             Woman                                                        No          100.000000
             Woman;Man;Non-binary, genderqueer, or gender non-conforming  No          100.000000
                                                                                         ...
Zambia       Man                                                          No            9.090909
             Woman                                                        Yes         100.000000
Zimbabwe     Man                                                          Yes          81.081081
                                                                          No           18.918919
             Woman                                                        Yes         100.000000
Name: Hobbyist, Length: 848, dtype: float64

In [174]:
data.Gender.value_counts()

Man                                                            77919
Woman                                                           6344
Non-binary, genderqueer, or gender non-conforming                597
Man;Non-binary, genderqueer, or gender non-conforming            181
Woman;Non-binary, genderqueer, or gender non-conforming          163
Woman;Man                                                        132
Woman;Man;Non-binary, genderqueer, or gender non-conforming       70
Name: Gender, dtype: int64

## f. Generate the report for job and career satisfaction of developer based on their gender and continent?

In [185]:
data.CareerSat.unique()

array(['Very satisfied', 'Slightly satisfied', 'Very dissatisfied',
       'Slightly dissatisfied', 'Neither satisfied nor dissatisfied'],
      dtype=object)

In [186]:
data.CareerSat.value_counts()

Very satisfied                        45209
Slightly satisfied                    25018
Slightly dissatisfied                  7670
Neither satisfied nor dissatisfied     7252
Very dissatisfied                      3734
Name: CareerSat, dtype: int64

In [184]:
data.CareerSat.fillna('Very satisfied',inplace=True)

In [191]:
data_f =data.groupby(['Country','Gender'])

In [190]:
data.Gender = data.Gender.replace({'Non-binary, genderqueer, or gender non-conforming':'Others','Man;Non-binary, genderqueer, or gender non-conforming':'Others','Woman;Non-binary, genderqueer, or gender non-conforming':'Others','Woman;Man':'Others','Woman;Man;Non-binary, genderqueer, or gender non-conforming':'Others'})

In [192]:
data_e.CareerSat.value_counts()*100/data_e.CareerSat.count()

Country      Gender  CareerSat
Afghanistan  Man     Very satisfied                         65.384615
                     Slightly dissatisfied                  15.384615
                     Slightly satisfied                      7.692308
                     Very dissatisfied                       7.692308
                     Neither satisfied nor dissatisfied      3.846154
                                                              ...
Zimbabwe     Man     Slightly satisfied                     24.324324
                     Neither satisfied nor dissatisfied      8.108108
                     Very dissatisfied                       8.108108
                     Slightly dissatisfied                   2.702703
             Woman   Very satisfied                        100.000000
Name: CareerSat, Length: 1545, dtype: float64

# g. For problems f and g, gender should have three categories man, woman and others. If a record have any other value, consider it as Others.

# Question f and g are similar, so answers are in f.